# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
package-lock.json

# Build logs
build-log.txt

# Test files
*-test.html
azure-function-test.html
*-test.js
server-test.js
test-*.js

# Deployment profiles
publish-profile.xml
*.pubxml
*.publishsettings
