<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Define handlers for different file types -->
    <handlers>
      <!-- Explicitly handle API routes with iisnode -->
      <add name="ApiHandler" path="api/*" verb="*" modules="iisnode" />
      <!-- Main application handler for all other requests -->
      <add name="MainHandler" path="startup.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Enable detailed iisnode logging -->
    <iisnode 
      nodeProcessCommandLine="node.exe"
      watchedFiles="*.js;web.config"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      debugHeaderEnabled="true"
      debuggerPathSegment="debug" />
    
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^startup.js\/debug[\/]?" />
          <action type="None" />
        </rule>

        <!-- API routes go directly to startup.js -->
        <rule name="API Routes" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="startup.js" />
        </rule>
        
        <!-- All other requests go to startup.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="startup.js" />
        </rule>
      </rules>
    </rewrite>
    
    <httpErrors existingResponse="PassThrough" />
    
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- Prevent IIS from trying to serve API routes as static files -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="api" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- iisnode section removed to avoid duplication -->
  </system.webServer>
</configuration>